@tailwind base;
@tailwind components;
@tailwind utilities;
:root{
  scroll-behavior: smooth;
}
/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}
/*
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #FFE5A2;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #544214;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #544214d2;
}

.custom-shadow{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
#app {
  height: 100%;
}
html,
body {
  position: relative;
  height:90vh;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}
.sticky-navbar {
  position: fixed;
  z-index: 100;
  /* top: 1px; */
}
.swiper {
  width: 100%;
  height: 90vh;
}
.swiper-pagination-bullet-active {
  opacity: var(--swiper-pagination-bullet-opacity, 1);
  border-radius: 5px solid #c41010 !important;
  background: var(--swiper-pagination-color,#544214) !important;
}
.swiper-pagination-bullet {
  width: 1rem !important;
  height: 1rem !important;
  display: inline-block;
  border-radius: 5px solid #000000 !important;
  background: var(--swiper-pagination-bullet-inactive-color, #544214) !important;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
} */
